body {
  background-color: #95a6c6;
}

.menu{
  font-weight: bold;
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  margin-left: 400px;
  margin-right: 850px;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 125%;
}

div.banner{
  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  font-size: 125%;
}
